/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    overflow: hidden;
}
.text-logo {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
    float: left;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);

    z-index: 1;
    margin: 0;
    padding: 0;
}
.currentime {
    position: relative;
    float: right;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    z-index: 1;
}
.header {
    position: absolute;
    top:0;
    width: 100%;
    min-width: 1000px;
    height: 45px;
    background-color: #305f5f;
    background-image: -webkit-linear-gradient(top, transparent 25%, rgba(0,0,0,0.3) 100%);
    background-image: -moz-linear-gradient(top, transparent 25%, rgba(0,0,0,0.3) 100%);
    background-image: -ms-linear-gradient(top, transparent 25%, rgba(0,0,0,0.3) 100%);
    background-image: -o-linear-gradient(top, transparent 25%, rgba(0,0,0,0.3) 100%);
    background-image: linear-gradient(to bottom, transparent 25%, rgba(0,0,0,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#44000000', GradientType=0);
}
.logo{
    position: relative;
    margin: 10px 32px;
}
.footer {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    min-width: 1000px;
    height: 30px;
    font-size: 11px;
    line-height: 13px;
    border-top: 1px dashed #777;
    margin-top: -30px;
    color: #777;
}
.cop {
    padding: 10px 32px;
}
.main {
    position: absolute;
    top: 85px;
    bottom: 30px;
    width: 100%;
    min-width: 1000px;
    background: #fff;
}
.bar {
    position: absolute;
    width: 18%;
    min-width: 180px;
    bottom: 0;
    top: 0;
    overflow: auto;
}
.nobar .bar {
	width: 30px;
	min-width: 0;
	overflow: hidden;
}
.content {
    position: absolute;
    width: 82%;
    min-width: 820px;
    bottom: 0;
    top: 0;
    left: 18%;
}
.nobar .content {
	left: 30px;
	width: auto;
	right: 0;
}
.wrapper-tree {
    padding: 20px 10px 10px;
}
.nobar .wrapper-tree {
	visibility: hidden;
}
.wrapper-content {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: hidden;
}
.table {
    margin-bottom: 0;
}
.table-fix {
	position: absolute;
    z-index: 10;
    background: #fff;
}
.table-striped TBODY > tr:nth-child(odd).current > td {
    background: #E6F0FA;
}
.table-striped TBODY > TR.current > TD {
    background: #E6F0FA;
}
.table-striped TBODY > TR > TD {
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
}
.table-striped TBODY > TR > TD INPUT {
    margin: 0 0 3px 0;
    display: inline-block;
}
.table-content {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    margin: -10px;

    background-color: #F3F4F6;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}
.wrapper-table-dictionary {
    position: absolute;
	overflow: auto;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}


.cards-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 11px;
    padding: 10px;
    margin: -10px;

    /*border: 1px solid #e3e3e3;*/

    background: #F3F4F6;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
.wrapper-cards {
    position: absolute;
    overflow: auto;
    top:10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.small-fld {
    display: inline-block;
    width: 230px;
}
input[type="radio"].radio {
    position: relative;
    margin-left: -18px;
}
input[type="checkbox"].checkbox {
    position: relative;
    margin-left: -18px;
}
.help-inline{
    position: relative;
    font-size: 12px;
    display: block;
}
.help-inline .text-error {
    display: none;
    margin: 0;
    padding: 0;
}
.help-inline .text-bolt {
    display: block;
    margin: 0;
    padding: 0;
}
.error .help-inline .text-error {
    display: block;

}
.error .help-inline .text-bolt {
    display: none;

}
.table-dictionary THEAD TR TH,
.table-fix THEAD TR TH {
    color: #777;
    font-size: 12px;
	line-height: 15px;
    font-weight: bold;
    vertical-align: top;
}
.table-fix tr th input {
    margin: 0 0 4px 0;
}
.table tr td {
    font-size: 12px;
}
.icon-left {
    position: absolute;
    right: 0;
    top: 8px;
    cursor: pointer;
}
.icon-left:hover {
    color: #bfbfbf;
}
.icon-filter {
    cursor: pointer;
}
.wrapper-inline-edit-btns {
	white-space: nowrap;
}
.wrapper-inline-edit-btns .btn.btn-mini {
	width: 24px !important;
	text-align: center;
}
.table-striped TBODY > TR > TD INPUT.inline-fld {
    margin: 0;
    padding: 0 3px;;
    display: inline;
    width: 94%;
	font-size: 12px;
	height: 1.7em;
	position: relative;
	left: -4px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none !important;
}
.edit-nav-group {
    display: none;
}
.edit .edit-nav-group {
    display: block;
}
.menu {
    position: absolute;
    width: 100%;
    background-color: #e6e2af;
    top:45px;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, transparent 33%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, transparent 33%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, transparent 33%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, transparent 33%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, transparent 33%);
    font-size: 12px;
}
.menu ul{
    display: inline;
    margin: 0 32px;
    padding: 0;
}
.menu ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
.menu ul li a{
    cursor: pointer;
}
.menu ul li.active a{
    color: #000;
}
.menu ul li.active a:hover{
    color: #000;
    text-decoration: none;
    cursor: default;
}
.well {

    background: #F3F4F6 !important;
    border: none;
    margin-bottom: 0;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    margin: 0 -1px 0 0;

}
.btn {
    -webkit-border-radius: 3px !important;
       -moz-border-radius: 3px !important;
            border-radius: 3px !important;
}
.th-text {
    display: inline-block;
    padding: 3px 20px 3px 20px;
    vertical-align: top;
	position: relative;
	line-height: 15px;
}
.wall {
    padding: 5px 0 20px;
}
.btn-mini-navi {
    width: 24px;
}
.navi {
    position: absolute;
    right: 0;
    top: 0;
}
FIELDSET {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 10px 4px 10px 10px;
    margin: 0 0 10px 0;
}
FIELDSET LEGEND {
    color: #fff;
    font-weight: bold;
    background-color: #bfbfbf;
    padding: 4px 5px 2px;
    border-radius: 4px;
    width: auto;
    font-size: 12px;
    display: inline-block;
    height: 14px;
    line-height: 12px;
}
.favorites-dic {
    margin-bottom: 30px;
}
.favorites-dic h3{
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 4px 0;
    padding: 0;
}
.favorites-dic ul{
    margin: 0 0 0 5px;
    padding: 0;
    list-style: none;
}
.favorites-dic ul li{
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}
.navi {
    z-index: 50;
}
.icon-fullscreen {
    cursor: pointer;
}
.table-fix th {
    position: relative;
}
.icon-right {
    position: absolute;
    left: 2px;
    top: 8px;
    cursor: pointer;
}
.icon-filter {
    cursor: pointer;
}
.icon-filter:hover {
    color: #000;
}
.js-tfilter td {
    position: relative;
    height: 27px;
}
.input-mini {
    position: absolute;
    top: 2px;
}
button.btn, button.btn.btn-primary, button.btn.btn-danger {
    line-height: 14px;
}






/*xtreee*/

.webfx-tree-icon {
    display: none;
}
#webfx-tree-object-4 {
    display: none;
}
#treeDiv img {
    /*display: none;*/
}
#1-plus {

}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





/* add_new */
.logo {
	margin: 10px 13px;
}

.menu {
	padding: 8px 12px;
}

.menu UL {
	margin-left: 0;
}

.menu UL LI {

}

.menu UL LI A {
	color: #046380;
	display: inline-block;
	border-radius: 3px 3px 3px 3px;
	padding: 2px 8px;
	text-decoration: underline;
}

.menu UL LI:hover A,
.menu UL LI A:hover {
	color: #cc3300;
}


.menu UL LI.active A {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	color: #111111;
	text-decoration: none;
	padding: 2px 8px;
}

A.selected,
A.selected-inactive {
	-background-color: #e6e2af;
	color: #cc3300;
	font-weight: bold;
}

.wall {
	padding: 0;
}

.content.horizontal .wrapper-cards .small-fld {
	width: auto;
	margin: 0 20px 0 0;
}

FIELDSET {
	padding-top: 0;
}

.content .wrapper-cards LABEL INPUT {
	margin: 1px 3px 0 0;
}

.content.horizontal .wrapper-cards FIELDSET LABEL,
.content.horizontal .wrapper-cards .small-fld LABEL {
	float: left;
	margin: 5px 10px 0 0;
}

.content.horizontal .wrapper-cards .small-fld LABEL,
.content.horizontal .wrapper-cards .small-fld .controls {
	display: inline-block;
}

.wrapper-cards fieldset .controls input,
.wrapper-cards .small-fld .controls input {
	margin-bottom: 0;
}

.wrapper-cards .edit-well.wall,
.wrapper-cards .save-well.wall {
	margin-bottom: 10px;
}

.wrapper-cards .navi {
	/*float: right;*/
}
.wrapper-cards .navi .btn {
	min-width: 24px;
	text-align: center;
}

.wrapper-cards FIELDSET LEGEND {
	margin-bottom: 5px;
	display: block;
}

.wrapper-cards .small-fld {
	margin-top: 0px;
	margin-bottom: 0px;
}

button.btn,
button.btn.btn-primary,
button.btn.btn-danger{
	position: relative;
	width: 90px;
	height: 23px;
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	border-radius: 4px;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 21px;
	cursor: pointer;
	color: #333;
	text-shadow: 1px 1px 0 #f3f3f3;
	background-color: #fff;

	background-image: -webkit-linear-gradient(top, transparent 25%, rgba(0,0,0,0.2) 100%);
	background-image:    -moz-linear-gradient(top, transparent 25%, rgba(0,0,0,0.2) 100%);
	background-image:     -ms-linear-gradient(top, transparent 25%, rgba(0,0,0,0.2) 100%);
	background-image:      -o-linear-gradient(top, transparent 25%, rgba(0,0,0,0.2) 100%);
	background-image:   linear-gradient(to bottom, transparent 25%, rgba(0,0,0,0.2) 100%);
}

.ie9 button.btn,
.ie9 button.btn.btn-primary,
.ie9 button.btn.btn-danger{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KCTxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZCIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPg0KCQk8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDAsMCwwLDAuMCkiIG9mZnNldD0iMC4yNSIgLz4NCgkJPHN0b3Agc3RvcC1jb2xvcj0icmdiYSgwLDAsMCwwLjIpIiBvZmZzZXQ9IjEiIC8+DQoJPC9saW5lYXJHcmFkaWVudD4NCgkNCgk8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBzdHlsZT0iZmlsbDp1cmwoI2dyYWQpIiAvPg0KPC9zdmc+');
}

.lte-ie8 button.btn,
.lte-ie8 button.btn.btn-primary,
.lte-ie8 button.btn.btn-danger{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#33000000', GradientType=0);
}

button.btn:hover{
	background-position: 0 0;
}

.navi .btn.btn-mini-navi,
.btn.btn-edit-inline,
.btn.btn-save-inline,
.btn.btn-cancel-inline,
.btn.btn-danger.btn-remove-inline,
.btn.btn-toggle-bar {
	width: auto;
}

.help-inline .text-bolt {
	display: none;
}

.webfx-tree-item {
	font-size: 12px;
	line-height: 16px;
}

.btn.btn-toggle-bar {
	position: absolute;
	top: 10px;
	right: 0;
}
.nobar .bar .icon-chevron-left:before {
	content: '\f054';
}
.btn.btn-toggleDict {
	width: 24px !important;
	min-width: 24px;
	position: absolute;
	right: 15px;
	top: 13px;
	z-index: 11;
}

#treeDiv {
	font-size: 13px;
	line-height: 16px;
	padding-left: 10px;
	margin-right: -10px;
}
UL.jqtree-tree DIV {
	margin-left: -2px;
	padding-left: 2px;
}
UL.jqtree-tree .jqtree-toggler {
	left: -1.2em;
	text-decoration: none !important;
}
UL.jqtree-tree LI.jqtree-folder .jqtree-title {
	position: relative;
	left: 2px;
}
.btn.btn-toggleCard {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;
    right: 10px;
}
button.btn, button.btn.btn-primary, button.btn.btn-danger {
    line-height: 14px;
}



















